<div id="wrapper">
    <div id="main-content">
      <div class="container-fluid">
        <div class="block-header">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h2>Tableau de bord Business Intelligence</h2>
            </div>
  
          </div>
        </div>
        <hr>
        <p> Que voulez-vous avoir comme type de visualisation pour le Business Intelligence ?</p>

        <div class="row clearfix">
          <div class="col-lg-4">
            <div class="card">
              <div class="body text-center">
                <div class="form-group">
                  <label class="texte1">Les visuels de Business Intelligence</label>
                  <p id="error-checkbox"></p>
              </div>
               
                 
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="body text-center">
                <div class="form-group">
                  <label class="texte1">Les visuels du Data Mining </label>
                 
                  <p id="error-checkbox"></p>
              </div>
               
                 
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="body text-center">
                <div class="form-group">
                  <label class="texte1">Les visuels du Process Mining </label>
                  
                  <p id="error-checkbox"></p>
              </div>
               
                 
              </div>
            </div>
          </div>
  
        </div>
        
        <button type="button" class="btn btn-outline-info">Confirmer</button>
  
  
  
      </div>
    </div>
  
  </div>
  