<div id="wrapper">
    <div id="left-sidebar" class="sidebar">
      <div class="sidebar-scroll">
  
        <!-- Profile Account -->
        <!--<app-profile></app-profile>-->
        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
          <div class="tab-pane active" id="menu">
            <nav class="sidebar-nav">
                <img class="logo" src="../../../assets/assets/images/mal-de-dos-solutions-logo-1625817435.jpg">
               <hr> <p class="navigation">Navigation</p><hr>
              <ul class="main-menu metismenu">
                <li class="active"><a href="/bi"><i class="icon-puzzle"></i><span> Tableau de Board BI </span></a></li>
                <li><a href="/dm"><i class="icon-puzzle"></i><span> Tableau de Board DM </span></a></li>
                <li><a href="/pm"><i class="icon-puzzle"></i><span> Tableau de Board PM </span></a></li>
                <li><a href=""><i class="icon-home"></i><span> Tableau de Bord Global </span></a></li>

              </ul>
            </nav>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
  